* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


body {
    /* min-width: 992px; */
    max-width: 1440px; 
    margin: 0 auto;

    /* Utiliser pour mettre en page ma section Hébergements + Les plus populaires */
    padding: 0 55px;
    
}







/* ---- HEADER SECTION ---- */








.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-booki {
    height: 70px;
    width: 120px;
    margin-top: 20px;
    margin-left: 15px;
}







/* ---- NAV LIST ---- */






.nav-bar {
    margin-top: 0;
    
}

.list-nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px;
}

.list-bar-cat {
    padding: 45px;
    color: black;
    /* Ajout d'une border-top pour éviter le décalage de la border-top en hover */
    border-top: 2px solid white;
}


.list-bar-cat:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    
    body {
        padding: 0;
    }
    
    .nav-menu {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-bar {
        height: 109px;
    }

    .logo-booki {
        margin: 0 auto;
    }

    .list-nav-bar {
        padding: 0px;
    }

    .list-bar-cat {
        flex-basis: 50%;
        text-align: center;
        padding: 30px;
        border-bottom: 2px solid #F2F2F2;
    }

    .list-bar-cat:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }


}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        padding: 0;
    }
    
    .nav-menu {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .nav-bar {
        height: 109px;
    }

    .logo-booki {
        margin: 0 auto;
    }

    .list-nav-bar {
        padding: 0px;
    }

    .list-bar-cat {
        flex-basis: 50%;
        text-align: center;
        padding: 30px;
        border-bottom: 2px solid #F2F2F2;
    }

    .list-bar-cat:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }

}


/* ---- SITE DESCRIPTION ---- */








@media screen and (max-width: 992px) {
    
    .site-description2 {
        text-align: center;
    }
}








/* ---- SEARCH BAR SECTION ---- */









.search-bar {
    margin: 15px 0px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#map-logo {
    background-color: #F2F2F2;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-input {
    border: 1px solid #F2F2F2;
    width: 200px;
    padding: 15px;
    font-size: 16px;
    outline: none;
}

.button {
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding: 15px;
    margin: 0px;

}

.mobile-button {
    display: none;
}

.search-input:hover {
    outline: none;
}


.button:hover {
    cursor: pointer;
    
}



@media screen and (max-width: 992px) {
    .search-bar {
        display: flex;
        justify-content: center;
        margin: 30px;   
    }

    .button {
        display: none;
    }

    .search-input {
        width: 250px;
        padding-right: 0px;
    }

    .mobile-button {
        background-color:#0065FC;
        display: flex;
        border-radius: 15px;
        color: white;
        padding: 15px;
        margin-left: -20px;
    }

    .mobile-button:hover {
        cursor: pointer;
    }
}



/* ---- FILTERS SECTION ---- */










.filters-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filters-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.filters-header {
    display: flex;
   align-items: center;
}

.filters-button-eco {
    border: 2px solid #F2F2F2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 12%;
    max-width: 160px;
    min-width: 160px;
    margin: 20px;
    padding: 0px 10px 0px 0px;
    border-radius: 30px;
    overflow: auto;
}

.filters-button-family {
    border: 2px solid #F2F2F2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 10%;
    max-width: 125px;
    min-width: 125px;
    margin: 20px;
    padding: 0px 10px 0px 0px;
    border-radius: 30px;
    overflow: auto;
}

.filters-button-romance {
    border: 2px solid #F2F2F2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 11.5%;
    min-width: 154px;
    max-width: 154px;
    margin: 20px;
    padding: 0px 10px 0px 0px;
    border-radius: 30px;
    overflow: auto;
}

.filters-button-animals {
    border: 2px solid #F2F2F2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 15%;
    min-width: 198px;
    max-width: 198px;
    margin: 20px;
    padding: 0px 10px 0px 0px;
    border-radius: 30px;
    overflow: auto;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    padding: 15px;
    width: 46px;
    height: 46px;
    border-radius: 50px;
    color: #0065FC;
}

.filters-button-eco:hover,
.filters-button-animals:hover,
.filters-button-family:hover,
.filters-button-romance:hover {
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .filters-header {
        margin-left: 20px;
    }

    .filters-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }   

    .filters-button-eco {
        min-width: 160px;
        
    }

    .filters-button-family {
        
        min-width: 120px;
    }

    .filters-button-romance {
        
        min-width: 154px;
    }

    .filters-button-animals {
        
        min-width: 198px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .filters-section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .filters-header {
        justify-content: center;
    }

    .filters-container {
        justify-content: center;
    }
}


/* ---- CITY INFOS ---- */







.city-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;
}

.statement {
    margin-left: 10px;
}

#info-logo {
   color: #0065FC;
   width: 15px;
   height: 15px;
   border: 1px solid #F2F2F2;
   padding: 13px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}




@media screen and (max-width: 768px) {
    .city-info {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
     .city-info {
         display: flex;
         justify-content: center;
     }
}




/* ---- MARSEILLE APARTMENTS ---- */












.marseille-appartments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 30px;
    width: 100%;
}

.marseille-place-header > h3{
    margin: 20px 15px 0px 15px;
    padding: 30px 0px 0px 15px ;
}

.marseille-place {
    background-color: #F2F2F2;
    flex-basis: 61%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    max-width: 880px;
}

.marseille-place-main {
    display: flex;
    flex-direction: column;
}

.top-card {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.bottom-card {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.marseille-place-card {
    width: 246px;
    height: 199px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 25px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}

.marseille-place-card:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.marseille-place-card > img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    object-fit: cover;
}

.card-title , .card-description {
    margin: 0;
    padding: 2px;
    padding-left: 10px;
}

.blue {
    color: #0065FC;
    height: 6px;
    width: 6px;
    margin: 4px;
    padding-left: 6px;
}

.grey {
        color: darkgrey;
        height: 6px;
        width: 6px;
        margin: 4px;
        padding-left: 6px;
}

.marseille-place-footer > h4 > a {
    display: flex;
    text-decoration: none;
    color: black;
    margin: 0px 15px 20px 15px;
    padding: 0px 0px 30px 15px ;
}











/* ---- MOST POPULAR APPARTMENTS ----*/










.most-popular {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-basis: 33%;
    max-width: 420px;
    border-radius: 15px;
}

.most-popular-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.most-popular-header > h3 {
    margin: 20px 15px 0px 15px;
    padding: 30px 0px 0px 15px ;
}

#charts {
    display: flex;
    align-items: flex-end;
    margin: 25px 25px 0px 25px;
    font-size: 23px;
}

.most-popular-main {
    display: flex;
    flex-direction: column;
}

.most-popular-card > img {
    width: 40%;
    height: 100%;
    min-width: 137.2px;
    padding: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.most-popular-card {
    display: flex;
    flex-direction: row;
    background-color: white;
    min-width: 343px;
    height: 144px;
    margin: 23px 38.5px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
    border-radius: 20px;
    
}

.most-popular-card:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}


/* Mise en forme des cards */


.most-popular-card > figcaption {
    padding-left: 10px;
}

.most-popular-card > figcaption > h4 {
    margin-bottom: 4px;
}

.water-room {
    margin-bottom: 20px;
}

.most-popular-card > figcaption > p {
    margin-top: 0px;
    margin-bottom: 35px;
}

@media screen and (max-width: 768px) {



    .marseille-appartments {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .marseille-place {
        max-width: none;
        background-color: white;
    }

    .marseille-place-card {
        margin:  20px 5%;
        width: 90%;
    }
    .most-popular {
        width: 100%;
        border-radius: 0;
        max-width: none;
    }

    .most-popular-card {
        max-width: none;
        width: 90%;
        margin: 20px 5%;
    }
    
    .top-card {
        display: flex;
        flex-direction: column; 
        margin-bottom: 0;
    }
    
    .bottom-card {
        flex-direction: column;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .marseille-appartments {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .marseille-place {
        max-width: none;
        background-color: white;
    }

    .marseille-place-card {
        margin: 20px 15px;
        width: 90%;
    }

    .marseille-place-card-link {
        width: 90%;
    }

    .most-popular {
        width: 100%;
        border-radius: 0px;
        max-width: none;
    }

    .most-popular-main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .most-popular-card {
        max-width: 360px;
        width: 90%;
        margin: 20px 0;
    }

    .most-popular-card-link {
        max-width: 360px;
        margin: 20px 5px;
    }
    
    .top-card {
        display: flex;
        flex-direction: row; 
        margin-bottom: 0;
    }
    
    .bottom-card {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) and (max-width: 1440px ) {
    .most-popular {
        border-radius: 20px;
    }
}



/* ----    ACTIVITIES SECTION    ---- */

.activities {
    display: flex;
    flex-direction: column;
}

.activities > h3 {
    padding: 15px 0px;
}

.activities-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40.6px;
}

.activities-1 {
    min-width: 302px;
    margin: 0px;
}

.activities-2 {
    min-width: 302px;
}

.activities-3 {
    min-width: 302px;
}

.activities-4 {
    min-width: 302px;
}



/* Mise en page des Cards Activités à Marseille */

.activities-card-port {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 20px;
    max-width: 302px;
    height: 444px;
    margin: 0;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}

.activities-card-port > img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activities-card-medium {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 20px;
    max-width: 302px;
    height: 235px;
    margin: 0px 0px 44px 0px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}

.activities-card-medium > img {
    width: 100%;
    height: 71%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activities-card-medium2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 20px;
    max-width: 302px;
    height: 235px;
    margin: 0;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}

.activities-card-medium2 > img {
    width: 100%;
    height: 71%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activities-card-small {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 20px;
    max-width: 302px;
    height: 165px;
    margin: 0px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}

.activities-card-small > img {
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activities-card-small2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 20px;
    max-width: 302px;
    height: 165px;
    margin: 0px 0px 44px 0px;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}

.activities-card-small2 > img {
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}


/* Centrage du titre des Cards Activités */

.activities-card-port > figcaption > h4,
.activities-card-medium > figcaption > h4,
.activities-card-medium2 > figcaption > h4,
.activities-card-small > figcaption > h4,
.activities-card-small2 > figcaption > h4 {
    margin-left: 10px;
}







/* Animation des Cards Activités */


.activities-card-port:hover,
.activities-card-medium:hover,
.activities-card-medium2:hover,
.activities-card-small:hover,
.activities-card-small2:hover {
    transition: 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}




@media screen and (max-width: 768px) {
     
.activities > h3 {
    margin-left: 30px;
}

    .activities-main {
        display: flex;
        flex-direction: column;
    }

    .activities-card-port > img {
        height: 65%;
    }

    .activities-card-port,
    .activities-card-small,
    .activities-card-small2,
    .activities-card-medium,
    .activities-card-medium2 {
        max-width: none;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 199px;
    }

    
}


@media screen and (min-width: 768px) and (max-width: 1440px) {
    
    .activities > h3 {
        margin-left: 30px;
    }
    
    .activities-main {
        justify-content: center;
    }
}



/* ---- FOOTER OF THE WEBSITE ----*/






.website-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin-top: 50px;
    margin-left: -55px;
    margin-right: -55px;
    padding-left: 55px;
    padding-top: 30px;
    height: auto;
}


.about {
    margin-right: 200px;
}

.housing {
    margin-right: 290px;
}

.assistance {
    margin-bottom: 80px;
}




/* ---- MEDIA QUERIES FOOTER ----*/


@media screen and (max-width: 768px) {
    .website-footer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        margin: 40px 0px auto;
    }

    .housing {
        margin-right: 0px;
    }

    .about {
        margin-right: 0px;
    }


}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .website-footer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        margin: 40px 0px auto;
    }

    .housing {
        margin-right: 0px;
    }

    .about {
        margin-right: 0px;
    }
}